* {
    background-color: black;
}

input[type="text" i]{
    padding-left: 10px;
    font-family: var(--second-font);
    color: white;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="password" i]{
    padding-left: 10px;
    font-family: var(--second-font);
    color: white;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    color: white;
}
